<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wareflow.buildify.domain.admin.systemOperation.mapper.AdminWarehouseMapper">


    <select id="getWarehouseList" resultType="com.wareflow.buildify.dto.WarehouseViewDTO">
        SELECT
            w.ware_id AS wareId,
            concat(w.warehouse_pos_x,w.warehouse_pos_y) AS wareCoord,
            wa.ware_address AS wareAddress,
            wa.ware_admin_number AS adminNumber,
            userware.client_id AS clientID,
            user.user_name AS clientName,
            user.business_number AS clientBusinessNumber,
            userware.ware_start_date AS startDate,
            userware.ware_end_date AS endDate,
            MAX(i.last_inbound_date) AS lastInboundDate,
            MAX(i.last_outbound_date) AS lastOutboundDate
        FROM wareHouse w
                 JOIN warehouse_area wa
                      on w.ware_id = wa.ware_id
                 JOIN userWareHouse userware
                      ON w.ware_id = userware.ware_id
                          and w.warehouse_pos_x = userware.warehouse_pos_x
                          and w.warehouse_pos_y = userware.warehouse_pos_y
                 JOIN user
                      ON userware.client_id = user.client_id
                 JOIN inventory i
                      ON userware.client_id = i.client_id
        GROUP BY w.ware_id,wareCoord;
    </select>

    <select id="getWarehouseInfo" resultType="com.wareflow.buildify.dto.WareHouseDTO">
        SELECT
            ware.ware_id AS wareId,
            ware.ware_name AS wareName,
            ware.ware_address as wareAddress,
            admin.admin_name as wareAdminName,
            ware.ware_total_size as wareTotalSize,
            ware.available_space as wareAvailSpace,
            MAX(i.last_inbound_date) as lastInboundDate,
            MAX(i.last_outbound_date) as lastOutboundDate
        FROM warehouse_area ware
        JOIN inventory i
            ON ware.ware_id = i.ware_id
        JOIN admin
            ON ware.ware_admin_number = admin.admin_number
        group by i.ware_id;
    </select>


</mapper>