<div th:fragment="sidebarFragment">

    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" th:href="@{/admin/pages/index}">
                <span class="align-middle">Buildify</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item active">
                    <a class="sidebar-link" th:href="@{/admin/pages/index}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed  d-flex justify-content-between align-items-center" data-bs-target="#submenu-product" data-bs-toggle="collapse" >
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">상품 관리</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-product" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/product/product-1}">상품 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/product/product-2}">상품 추가 메뉴 1</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/product/product-3}">상품 추가 메뉴 2</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/product/product-4}">상품 추가 메뉴 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-inbound" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">입고 요청</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-inbound" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/inbound/inbound-1}">입고 요청 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/inbound/inbound-2}">입고 현황 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/inbound/inbound-3}">입고 추가 메뉴 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/inbound/inbound-4}">입고  추가 메뉴 2</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-outbound" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">출고 요청</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-outbound" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/outbound/outbound-1}">출고 요청 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/outbound/outbound-2}">출고 현황 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/outbound/outbound-3}">출고 추가 메뉴 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/outbound/outbound-4}">출고 추가 메뉴 2</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-inventory" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">재고 관리</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-inventory" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/inventory/inventory-1}">재고 현황 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/inventory/inventory-2}">재고 추가 메뉴 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/inventory/inventory-3}">재고 추가 메뉴 2</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/inventory/inventory-4}">재고 추가 메뉴 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-user" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">회원 관리</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-user" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/userManagement/userManagement-1}">회원 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/userManagement/userManagement-2}">회원 추가 메뉴 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/userManagement/userManagement-3}">회원 추가 메뉴 2</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/userManagement/userManagement-4}">회원 추가 메뉴 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-system" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">운영 관리</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-system" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/systemOperation/systemOperation-1}">창고 레이아웃 조회</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/systemOperation/systemOperation-2}">창고 계약 관리</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/systemOperation/systemOperation-3}">작업 관리</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/systemOperation/systemOperation-4}">인력 관리</a>
                        </li>
                    </ul>
                </li>


            </ul>

            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <strong class="d-inline-block mb-2"></strong>
                    <div class="mb-3 text-sm">
                    </div>
                    <div class="d-grid">
                        <img class="sidebar-img" th:src="@{/img/LOGO.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </nav>



</div>