<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wareflow.buildify.domain.auth.login.mapper.AuthMapper">

    <select id ="findById" resultType="com.wareflow.buildify.vo.AuthVO">
        SELECT
            id, role
        FROM
            auth
        WHERE
            id = #{id}
    </select>

</mapper>