<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wareflow.buildify.domain.user.inventory.mapper.InventoryUserMapper">

    <select id="getUserInventory" resultType="com.wareflow.buildify.dto.InventoryDTO">
        SELECT
        p.prod_id AS prodId,
        p.prod_name AS prodName,
        p.brand,
        p.client_id AS clientId,
        p.prod_price AS prodPrice,
        i.inventory_id AS inventoryId,
        i.ware_id AS wareId,
        i.quantity,
        i.last_inbound_date,
        i.last_outbound_date,
        wa.ware_name AS wareName,
        wa.ware_address AS wareAddress
        FROM inventory i
        JOIN product p ON i.prod_id = p.prod_id
        JOIN category c ON p.prod_categoryid = c.prod_categoryid
        JOIN warehouse_area wa on i.ware_id = wa.ware_id

    </select>


    <!-- 🔍 필터 검색 조회 -->
    <select id="searchUserInventory" resultType="com.wareflow.buildify.dto.InventoryDTO">
        SELECT
        p.prod_id AS prodId,
        p.prod_name AS prodName,
        p.brand,
        p.client_id AS clientId,
        p.prod_price AS prodPrice,
        i.inventory_id AS inventoryId,
        i.ware_id AS wareId,
        i.quantity,
        i.last_inbound_date,
        i.last_outbound_date,
        wa.ware_name AS wareName,
        wa.ware_address AS wareAddress
        FROM inventory i
        JOIN product p ON i.prod_id = p.prod_id
        JOIN category c ON p.prod_categoryid = c.prod_categoryid
        JOIN warehouse_area wa on i.ware_id = wa.ware_id

        <where>
            <!-- 🔵 카테고리 필터 조건 -->
            <if test="category1 != null and category1 != ''">
                AND c.category_level1 = #{category1}
            </if>
            <if test="category2 != null and category2 != ''">
                AND c.category_level2 = #{category2}
            </if>
            <if test="category3 != null and category3 != ''">
                AND c.category_level3 = #{category3}
            </if>

            <!-- 🔵 검색어 필터 조건 -->
            <if test="searchType != null and searchType != '' and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'prodName'">
                        AND p.prod_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'brand'">
                        AND p.brand LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'wareName'">
                        AND wa.ware_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>

        <!-- 🔵 정렬 조건 -->
        <choose>
            <when test="sortBy != null and sortBy == 'asc'">
                ORDER BY i.quantity ASC
            </when>
            <when test="sortBy != null and sortBy == 'desc'">
                ORDER BY i.quantity DESC
            </when>
            <otherwise>
                ORDER BY p.prod_name ASC
            </otherwise>
        </choose>
    </select>

</mapper>


